<a href="https://colab.research.google.com/github/Gokulamadhavan/CODE_ALPHA_TASK_1_TITANIC_CLASSIFICATION./blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Load the simulated dataset
df = pd.read_csv('train.csv')

# Display the first few rows
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
# Display the columns in the dataset
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
# Fill missing values for 'Age' with the median age
df['Age'].fillna(df['Age'].median(), inplace=True)

# Fill missing values for 'Embarked' with the most common embarkation port
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Drop the 'Cabin' column since it has too many missing values
df.drop(columns=['Cabin'], inplace=True)

# Check for any remaining missing values
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [6]:
# Use one-hot encoding for categorical variables
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

# Display the first few rows of the updated dataset to verify changes
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500      True       False        True
1          PC 17599  71.2833     False       False       False
2  STON/O2. 3101282   7.9250     False       False        True
3            113803  53.1000     False       False        True
4            373450   8.0500      True       False        True

In [7]:
# Drop columns that wonâ€™t be used in the model
df.drop(columns=['Name', 'Ticket', 'PassengerId'], inplace=True)

# Display the first few rows of the updated dataset to verify changes
print(df.head())

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  \
0         0       3  22.0      1      0   7.2500      True       False
1         1       1  38.0      1      0  71.2833     False       False
2         1       3  26.0      0      0   7.9250     False       False
3         1       1  35.0      1      0  53.1000     False       False
4         0       3  35.0      0      0   8.0500      True       False

   Embarked_S
0        True
1       False
2        True
3        True
4        True

In [8]:
# Separate features and target variable
X = df.drop('Survived', axis=1)
y = df['Survived']

# Display the shapes of X and y to verify the separation
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (891, 8)
Shape of y: (891,)

In [9]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the training and testing sets
print("Training set - X:", X_train.shape, " y:", y_train.shape)
print("Testing set - X:", X_test.shape, " y:", y_test.shape)

Training set - X: (712, 8)  y: (712,)
Testing set - X: (179, 8)  y: (179,)

In [10]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform both training and testing data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Display the first few rows of the scaled training data to verify normalization
print(X_train[:5])

[[-1.61413602  1.25364106 -0.47072241 -0.47934164 -0.07868358  0.7243102
  -0.30335547  0.59248936]
 [-0.40055118 -0.47728355 -0.47072241 -0.47934164 -0.37714494  0.7243102
  -0.30335547  0.59248936]
 [ 0.81303367  0.21508629 -0.47072241 -0.47934164 -0.47486697  0.7243102
  -0.30335547  0.59248936]
 [ 0.81303367 -0.24649361  0.37992316 -0.47934164 -0.47623026  0.7243102
  -0.30335547  0.59248936]
 [ 0.81303367 -1.78509326  2.93185988  2.04874166 -0.02524937 -1.38062393
  -0.30335547  0.59248936]]

In [11]:
from sklearn.linear_model import LogisticRegression

# Initialize the Logistic Regression model
model = LogisticRegression()

# Train the model on the training data
model.fit(X_train, y_train)

print("Logistic Regression model trained successfully!")

Logistic Regression model trained successfully!

In [12]:
from sklearn.metrics import accuracy_score, classification_report

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.8100558659217877
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.86      0.84       105
           1       0.79      0.74      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

In [14]:
import numpy as np
feature_importance = np.abs(model.coef_[0])
feature_names = X.columns

importance_df = pd.DataFrame({'feature': feature_names, 'importance': feature_importance})
importance_df = importance_df.sort_values(by='importance', ascending=False)

print(importance_df)

      feature  importance
5    Sex_male    1.277180
0      Pclass    0.785320
1         Age    0.396010
2       SibSp    0.349278
7  Embarked_S    0.189756
4        Fare    0.126579
3       Parch    0.096673
6  Embarked_Q    0.046344